body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}

header {
  div.top-header {
    background-color: #252E39;
    height: 50px;
    width: 100%;

    @media only screen and (max-width: 360px) {
      height: 80px;
    }

    .top-header-container {
      padding: 10px 150px 10px 150px;

      @media only screen and (max-width: 650px) {
        padding: 10px;
      }
    }

    .social-media-container {
      @media only screen and (min-width: 830px) {
        &.desktop {
          display: inline-block;
        }
      }

      @media only screen and (max-width: 830px) {
        &.desktop {
          display: none;
        }
      }
    }

    .contacts-container {
      float: right;
    }
  }
}

nav {
  div.navigation-container {
    padding: 10px 150px;
    background-color: #FFFFFF;
    align-items: center;
    display: flex;

    @media only screen and (max-width: 700px) {
      padding: 10px 30px;
    }

    .title {
      width: 160px;

      h3 {
        font-size: 20px;
      }
    }

    .menu-items-desktop a.nav-link {
      text-transform: uppercase;
      text-decoration: none;
      padding: 20px;
      color: #000000;
      font-size: 16px;
      font-weight: bold;
    }

    @media only screen and (max-width: 985px) {
      .menu-items-desktop a.nav-link {
        display: none;
      }
    }

    .contact-btn-container {
      flex: 1;

      button {
        background-color: #F4C54A;
        text-transform: uppercase;
        border-radius: 40px;
        padding: 20px;
        border: none;
        float: right;

        &:hover {
          background-color: darken(#F4C54A, 25%);
          cursor: pointer;
        }
      }
    }
  }
}

section {
  .desktop-backdrop {
    background-image: url('https://cdn.glitch.com/d308c4b2-3f81-45d4-a9eb-d37601fbb06c%2Fcoins_backdrop.png?v=1624496709129');
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: 90% 100%;
    padding: 150px 0 0 150px;
    height: 450px;

    @media only screen and (max-width: 800px) {
      padding: 150px 0 0 75px;
    }

    @media only screen and (max-width: 600px) {
      background-size: 100% 100%;
      text-align: center;
      padding: 125px 15px 0 15px;
    }

    .desktop-slogan {
      font-family: 'Barlow Condensed', cursive;
      text-transform: uppercase;
      margin: 5px 0 5px 0;
      font-size: 60px;
    }

    .desktop-slogan-caption {
      font-family: 'Open sans', cursive;
      max-width: 500px;
      margin: 0 0 10px 0;
    }

    @media only screen and (max-width: 600px) {
      .desktop-slogan {
        font-size: 40px;
      }
    }

    .more-details {
      text-transform: uppercase;
      background-color: transparent;
      border: 3px solid #FFFFFF;
      border-radius: 40px;
      font-weight: bold;
      color: #FFFFFF;
      padding: 20px;

      &:hover {
        background-color: #FFFFFF;
        cursor: pointer;
        color: #000000;
      }
    }

    .mobile {
      display: none;
    }

    @media only screen and (max-width: 380px) {
      .more-details.desktop {
        display: none;
      }

      .more-details.mobile {
        display: block;
        margin: auto;
      }
    }
  }

  @media only screen and (max-width: 1145px) {
    .desktop-translated {
      margin: 0 10px 0 10px;
    }
  }

  @media only screen and (min-width: 1145px) {
    .desktop-translated {
      margin: 0 50px 0 50px;
      justify-content: space-between;
      display: flex;
    }

    .tablet-translated, .mobile-translated {
      display: none;
    }
  }

  @media only screen and (max-width: 1145px) {
    .desktop-translated, .mobile-translated {
      display: none;
    }

    .tablet-translated {
      margin: 0 50px 0 50px;
      align-items: center;
      display: block;

      .info-card-row {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 450px;

        .info-card, .info-card-image {
          width: 330px;
        }
      }
    }
  }

  .desktop-translated, .tablet-translated {
    transform: translateY(-50px);
  }

  .info-card {
    width: 260px;
    height: 360px;

    .info-card-image {
      display: block;
      height: 170px;
      width: 260px;
    }

    .info-card-details {
      background-color: #252E39;
      height: 190px;
      padding: 20px;

      h3 {
        font-family: 'Open sans', serif;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        margin-top: 0;
      }

      p {
        font-family: 'Open sans', serif;
        line-height: 26px;
        font-size: 14px;
        color: #FFFFFF;
        margin: 0;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .desktop-translated {
      transform: translateY(0);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 50px 0;
      padding: 0 10px 0 10px;

      .info-card {
        width: 330px;
        height: 360px;
        margin-bottom: 50px;

        .info-card-image {
          height: 200px;
          width: 330px;
        }

        .info-card-details {
          box-sizing: border-box;
          width: 330px;
        }
      }
    }
    .tablet-translated {
      display: none;
    }
  }

  @media only screen and (max-width: 330px) {
    .desktop-translated {
      padding: 0;
      .info-card {
        width: 100%;
        .info-card-image, .info-card-details {
          width: 100%;
        }

        .info-card-details {
          padding: 10px;
        }
      }
    }
  }

  @media only screen and (max-width: 1140px) {
    .about-us-section.desktop {
      display: none;
    }

    .about-us-section.mobile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 550px;
      margin: auto;
    }
  }

  @media only screen and (min-width: 1140px) {
    .about-us-section.mobile {
      display: none;
    }

    .about-us-section.desktop {
      margin: 75px 50px 75px 50px;
      display: flex;
      justify-content: space-between;
      height: 200px;

      .about-us-details.desktop {
        width: 500px;
      }
    }
  }

  @media only screen and (min-width: 600px) {
    .about-us-section {
      .description {
        padding: 5px;
        width: 100%;
      }

      .about-us-image {
        height: 180px;
        width: 530px;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .about-us-section {
      .description {
        width: 100%;
        margin: 0;
      }

      .about-us-image {
        height: 180px;
        width: 330px;
      }
    }
  }

  .about-us-section {
    .title {
      font-family: 'Open sans', serif;
      margin: 5px 0 5px 0;
      line-height: 26px;
      font-size: 18px;
      color: #62727B;
    }

    .description {
      font-family: 'Open sans', cursive;
      line-height: 26px;
      color: #000000;
      width: 100%;
      margin: 0;
    }
  }

  .image-container {
    margin: auto;
  }

  @media only screen and (max-width: 330px) {
    .about-us-section .image-container .about-us-image {
      width: 300px;
    }
  }

  .client-reviews {
    background-image: url('https://cdn.glitch.com/d308c4b2-3f81-45d4-a9eb-d37601fbb06c%2Freviews_backdrop.png?v=1624496737069');
    background-repeat: no-repeat;
    background-color: #444C55;
    background-size: cover;
    opacity: .74;

    .text-container {
      padding: 75px 125px;

      .title {
        font-family: 'Open sans', cursive;
        line-height: 26px;
        font-size: 18px;
        margin-bottom: 0;
        color: #FFFFFF;
      }

      .description-title {
        font-family: 'Barlow Condensed', cursive;
        text-transform: uppercase;
        line-height: 26px;
        font-size: 40px;
        margin-top: 5px;
        color: #FFFFFF;
      }

      .client-reviews-container {
        display: flex;
        justify-content: space-between;

        .client-review {
          margin-right: 15px;
          color: #FFFFFF;
          width: 100%;

          p {
            font-family: 'Open Sans', cursive;
            line-height: 26px;
            font-size: 18px;
            color: #FFFFFF;
            margin: 0;
          }
        }

        p.client {
          margin-bottom: 5px;
          margin-top: 20px;
          font-weight: 600;
          color: #FFFFFF;
        }
      }
    }
  }

  @media only screen and (max-width: 1075px) {
    .client-reviews {
      background-color: #FFFFFF;
      background-image: none;

      .text-container {

        .title, .description-title {
          color: #000000;
        }

        @media only screen and (max-width: 745px) {
          padding: 25px 50px;
        }

        @media only screen and (max-width: 515px) {
          padding: 10px 25px;

          .description-title {
            font-size: 30px;
          }
        }

        .client-reviews-container {
          flex-direction: column;


          .client-review {
            margin-bottom: 15px;

            p, p.client {
              color: #000000;
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  .logo-container {
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 50px;

    .logo-image {
      height: 270px;
      width: 210px;
    }
  }

  .footer-section {
    display: flex;
    justify-content: center;
    padding: 50px 75px 50px 75px;
    background-color: #444C55;

    h1 {
      font-family: 'Barlow Condensed', cursive;
      text-transform: uppercase;
      font-size: 30px;
      color: #FFFFFF;
    }

    p {
      font-family: 'Open sans', cursive;
      margin: 5px 0 5px 0;

      &.text-accent {
        margin-bottom: 15px;
      }
    }

    div {
      width: 300px;
    }

    .footer-contact-us {
      input {
        line-height: 20px;
        padding: 12px 21px;
        border-radius: 15px;
        margin-bottom: 10px;
        width: 200px;
        border: none;

        &:focus {
          outline: none;
        }
      }

      select {
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 12px 21px;
        display: block;
        width: 244px;
        color: #8E8E8E;

        &:focus {
          outline: none;
        }
      }

      input, select {
        &.error {
          border: 1px solid red;

          &::placeholder, &::-ms-input-placeholder {
            color: red;
          }
        }
      }
    }

    div.footer-connect-info {
      width: 180px;
    }


    @media only screen and (max-width: 850px) {
      .footer-section-services {
        display: none;
      }
    }

    @media only screen and (max-width: 620px) {
      flex-direction: column;
      align-items: center;

      padding: 20px;
      div {
        width: 100%;
      }

      .footer-contact-us {
        input, select.select-services {
          box-sizing: border-box;
          width: 100%;
        }
      }

      div.footer-connect-info {
        text-align: center;
        width: 320px;
      }

    }
  }
}

ul.list-inline {
  display: inline-block;
  padding: 0;
  margin: 0;

  .list-inline-item {
    display: inline-block;
    list-style: none;

    &:not(first-child) {
      margin: 5px;
    }
  }
}

.text-white {
  color: #FFFFFF;
}

.text-accent {
  text-decoration: underline;
  color: #F4C54A;
}

.section-title-border {
  background-color: #F4C54A;
  position: relative;
  display: block;
  height: 5px;
  width: 50px;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 50%;
    background-color: #F4C54A;
    right: -60%;
    top: 0;
  }

  &::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 25%;
    background-color: #F4C54A;
    right: -100%;
    top: 0;
  }
}

button.accent {
  background-color: #F4C54A;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 20px;
  border: none;
  width: 100px;
  color: #FFFFFF;

  &:hover {
    background-color: darken(#F4C54A, 25%);
    cursor: pointer;
  }
}
